body, html, div, p, img {
    padding: 0 0;
    margin: 0 0;
}

body {
    font-family: "Oswald", "Verdana", sans-serif;
    background-color: rgb(194, 231, 252);
}

#cookie-window, #produkce {
    float: left;  
}

#cookie-window {
   width: 50%;
   
   text-align: center;
   padding-top: 6em;
}

#produkce {
    width: 50%;
}

#pocet-susenek {
    font-size: 2.2em;
    font-weight: bold;
    margin: 0.1em 0;
}

.pracovnik {
    width: 25em;
}

.pracovnik-pocet {
    float: right;
}

#cookie, .pracovnik-obrazek {
    cursor: pointer;
}

#produkce {
    overflow-y: scroll;
    height: 100vh;
}


